.seccion{
    background: rgb(116,134,138);
    background: radial-gradient(circle, rgba(116,134,138,0) 10%, rgba(116,134,138,0.1292892156862745) 39%, rgba(137,151,154,0.6474964985994398) 90%);
    display: flex;
    flex-direction: column;
    align-items: center;

    .seccion_top{
        width: 100%;
        display: flex;
        display: inline-block;
        justify-content: center;
    }
    .seccion_button{
        padding: 1rem;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
}