.camperas{
    border: solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    .camperas_campera h1{
        margin: 0;
        font-weight: 700;}
}
    


.contenido {
    padding: 1rem;
    width: 100%;
    display: grid; 
    grid-template-columns: repeat(
        auto-fit,
        minmax(
            150px,
            1fr
            )
        ) 
    }
     .imagen{
        padding: 2px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:center;
        
            .img{
                width: 100%;
            }

            p{
                margin-top: 3px;
                margin-bottom: 0px;
            }
        
            .precio{
                margin: 3px;
                display: flex;
                justify-content: center
            }
        }   


    
    

    