@import url('https://fonts.googleapis.com/css2?family=Unna&display=swap');

/** RESET **/

*{  margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Unna', serif;}

/** HEADER **/

.navbar{
    padding: 0;
}
 .navegacion{
    background-color: #a3671cc5;
    padding-block: 10px;
    letter-spacing: 1px;
}

.navegacion_item{
    margin-right: 5px;
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.navegacion_item_active,.navegacion_item:hover {
    margin-right: 5px;
    text-decoration: underline double white;
    color: rgb(255, 255, 255);
}
.logo{
    width: 100px;
}
.seccion_img{
    width: 100%;
    height: 100vh;
}

/** PRODUCTO **/
.camperas{
    border: solid;
    display: flex;
    flex-direction: column;
    align-items: center;


}
.contenido {
    width: 100%;
    border: solid;
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "imagen-1 imagen-2 imagen-3"
      "imagen-4 imagen-5 imagen-6"
      "imagen-7 imagen-8 imagen-9"; 
    grid-area: camperas; 
}
  .imagen-1 { 
    grid-area: imagen-1; 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.img1{
    width: 200px;
}
  .imagen-2 { grid-area: imagen-2; }
  .imagen-3 { grid-area: imagen-3; }
  .imagen-4 { grid-area: imagen-4; }
  .imagen-5 { grid-area: imagen-5; }
  .imagen-6 { grid-area: imagen-6; }
  .imagen-7 { grid-area: imagen-7; }
  .imagen-8 { grid-area: imagen-8; }
  .imagen-9 { grid-area: imagen-9; }

  /** QUIENES SOMOS **/

main{ 
    background-color: beige;
}
.caja{
    margin:20px;
    border: 2px solid #b9c23aef;
    width: 30%;
    height: 600px;
    background-color: #b9c23aef;
    display: inline-block;
    overflow: auto;
}
.caja_imagen{
    width: 100%;
    height: 50%;
}
.caja_boton{
    margin-left: 50%;
    border: none;
    background-color: #a3671cc5;
}

/** CONTACTOS **/

.seccion{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.seccion__top{
    width: 800px;
    display: flex;
    display: inline-block;
    justify-content: center;

}

.seccion_button{
    padding: 1rem;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.imagen1{
    background-image: url(../imagen/contactos.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

/** FOOTER **/

.footer{
    background-color: #a3671cc5;
    letter-spacing: 1px;
    gap: 50px;
    width: 100%;
    color: rgb(255, 255, 255);
    padding: .5rem;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.pie_imagen{
    border: 4px solid #a3671cc5;
    width: 40px;
    height: 40px;
    
}
.footer__izquierda{
    flex: 1;
    padding-left: 0;
}
.footer__izquierda__lista{
    list-style-type: none;
    padding-left: 0;
}
.footer__medio{
    flex: 1;   
}
.footer__derecha{
    flex: 1;
}
.footer__derecha__img{
    display: flex;
    list-style-type: none;
    padding-left: 0;
}
.footer__botton{
    flex: 1;
}
.tamaño{
    width: 200px;
}





