@import url("https://fonts.googleapis.com/css2?family=Unna&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Unna", serif;
}
*::-moz-selection {
  background-color: rgba(151, 165, 168, 0.7725490196);
  color: white;
}
*::selection {
  background-color: rgba(151, 165, 168, 0.7725490196);
  color: white;
}

.navbar {
  padding: 0;
}
.navbar .navegacion {
  background-color: rgba(151, 165, 168, 0.7725490196);
  padding-block: 10px;
  letter-spacing: 1px;
}
.navbar .navegacion .logo {
  width: 100px;
}
.navbar .navegacion .collapse .navbar-nav .navegacion_item {
  margin-right: 5px;
  color: #ffffff;
  text-decoration: none;
}
.navbar .navegacion .collapse .navbar-nav .navegacion_item:hover {
  margin-right: 5px;
  -webkit-text-decoration: underline double white;
          text-decoration: underline double white;
  color: #ffffff;
}
.navbar .navegacion .collapse .navbar-nav .navegacion_item_active {
  margin-right: 5px;
  -webkit-text-decoration: underline double white;
          text-decoration: underline double white;
  color: #ffffff;
}
.navbar .navegacion .collapse .navbar-nav .navegacion_item_active:hover {
  margin-right: 5px;
  -webkit-text-decoration: underline double white;
          text-decoration: underline double white;
  color: #ffffff;
}

.inicio_img {
  width: 100%;
}

.camperas {
  border: solid;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.camperas .camperas_campera h1 {
  margin: 0;
  font-weight: 700;
}

.contenido {
  padding: 1rem;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.imagen {
  padding: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.imagen .img {
  width: 100%;
  animation: slide-in-fwd-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.imagen .num1 {
  animation-delay: 20s;
}
.imagen .num1 {
  animation-delay: 1s;
}
.imagen .num2 {
  animation-delay: 2s;
}
.imagen .num3 {
  animation-delay: 3s;
}
.imagen .num4 {
  animation-delay: 4s;
}
.imagen .num5 {
  animation-delay: 5s;
}
.imagen .num6 {
  animation-delay: 6s;
}
.imagen .num7 {
  animation-delay: 7s;
}
.imagen .num8 {
  animation-delay: 8s;
}
.imagen .num9 {
  animation-delay: 9s;
}

p {
  margin-top: 3px;
  margin-bottom: 0px;
}

.precio {
  margin: 3px;
  display: flex;
  justify-content: center;
}
@keyframes slide-in-fwd-center {
  0% {
    transform: translateZ(-1400px);
    opacity: 0;
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}
.caja {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: radial-gradient(circle, rgba(116, 134, 138, 0) 53%, rgba(116, 134, 138, 0.1292892157) 66%, rgba(137, 151, 154, 0.6474964986) 90%);
}
.caja .caja_img {
  display: flex;
  justify-content: center;
  width: 100%;
}
.caja .caja_img .caja_imagen {
  padding-top: 1rem;
  width: 50%;
}

.seccion {
  background: radial-gradient(circle, rgba(116, 134, 138, 0) 10%, rgba(116, 134, 138, 0.1292892157) 39%, rgba(137, 151, 154, 0.6474964986) 90%);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.seccion .seccion_top {
  width: 100%;
  padding: 1rem;
  display: flex;
  display: inline-block;
  justify-content: center;
}
.seccion .seccion_button {
  padding: 1rem;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.seccion .seccion_button .formulario .estilo {
  display: flex;
  flex-direction: column;
}
.seccion .seccion_button .formulario .style {
  margin-top: 1rem;
}

.talles {
  border: solid;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.talles .img {
  width: 100%;
}
.talles h1 {
  margin: 0;
  font-weight: 700;
}

.footer {
  background-color: rgba(151, 165, 168, 0.7725490196);
  letter-spacing: 1px;
  gap: 50px;
  width: 100%;
  color: #ffffff;
  padding: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}
.footer .footer__izquierda {
  flex: 1;
  padding-left: 0;
}
.footer .footer__izquierda .footer__izquierda__lista {
  list-style-type: none;
  padding-left: 0;
}
.footer .footer__izquierda .footer__izquierda__lista .navegacion_item {
  margin-right: 5px;
  color: #ffffff;
  text-decoration: none;
}
.footer .footer__medio1 {
  flex: 1;
}
.footer .footer__medio1 .footer__medio__iconos .pie_imagen1 {
  border: 4px solid rgba(151, 165, 168, 0.7725490196);
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.footer__botton {
  display: flex;
  align-items: end;
}/*# sourceMappingURL=style.css.map */